.preview {
    position: relative;
    height: 100%;
}

.preview iframe {
    height: 100%;
    background-color: #ffffff;
}

.react-draggable-transparent-selection .preview:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
}