.action-bar {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.6;
    transition: opacity 0.3s;
}

.action-bar:hover {
    opacity: 1.0;
}

.action-bar button {
    margin-right: 0.7px;
}