.cell-list-item {
    position: relative;
}

.action-bar-wrapper {
    height: 30px;
    width: 100%;
    background-color: #131516;
}

.cell-list {
    margin: 1rem;
}

.react-draggable-transparent-selection .cell-list {
    margin-bottom: 100vh;
}